.header {
    padding: 20px;
    font-family:'Times New Roman', Times, serif;
    background-color: tan;
    color: yellow;
}

.header h1{
    display: inline-block;
    font-size: 45px;
}
.header div {
    float: right;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}