* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0;
    margin: 0;
    max-width: 100%;
    align-content: center;
}
.header {
    display: flex;
    width: 100%;
    padding: 20px;
    font-family:'Times New Roman', Times, serif;             
    color: rgb(236, 209, 57);
    background-image: linear-gradient(
        rgba(255, 255, 255) 0%, 
        rgb(43, 41, 41) 80%
    );
}

.header h1{
    display: flex;
    font-size: 45px;
}

.header div {
    float: right;
}

.header div ul {
    text-align: right;
    list-style-type: none;
}

#resources {
    float: right;
    justify-content: right;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}

.header2 {
    text-align: right;
    background-image: url(./images/pattern.jpg);
    height: 200px;
}

.textheader {
    flex-wrap: wrap;
    color: rgb(236, 209, 57);
}

.aboutme {
    font-size: 300%;
    flex-wrap: wrap;
    color: white;
}



.about {
    background-image: url(./images/smoothestpattern.jpg);
    object-fit: contain;
    flex-wrap: wrap;
    background-color: grey;
    max-height: 350px;
    width: 100%;
    overflow: scroll;
}

.about img {
    max-width: 150px;
    margin: 10px auto;
    
}

.aboutmewords {
    /* margin: auto;
    padding-right: 20px; */
    padding-bottom: 10px;
    color: white;
    text-align: right;
    font-size: 20px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.workheader{
    display: flex;
    border: 30px;
    padding: .75em;
    border-color: black;
    border-style: groove;
    text-align: center;
    max-width: 200px;
}

.work {
    justify-content: center;
    align-content: center;
}

main {
    background-color: darkgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.RPSLS {
    background-image: url(./images/RockPaperScissorsLizardSpock.jpg);
    background-size: contain;
    border: 50px;
    padding: .75em;
    border-color: black;
    border-style:groove;
    text-align: center;
    color: black;
}

.Blackjack {
    background-image: url(./images/Blackjack21.jpg);
    background-size: contain;
    border: 10px;
    padding: .75em;
    border-color: black;
    border-style: groove;
    text-align: center;
    color: white;
}

.caesarCipher {
    background-image: url(./images/caesarcipher.jpg);
    background-size: contain;
    border: 10px;
    padding: .75em;
    border-color: black;
    border-style: groove;
    text-align: center; 
    color: black;
}

.Hangman {
    background-image: url(./images/hangman.jpg);
    background-size: contain;
    border: 10px;
    padding: .75em;
    border-color: black;
    border-style: groove;
    text-align: center;
    color: white;
}

footer {
    text-align: center;
    padding: 20px;
    font-family:'Times New Roman', Times, serif;             
    color: rgb(236, 209, 57);
    background-image: linear-gradient(
        rgba(255, 255, 255) 0%, 
        rgb(43, 41, 41) 80%
    );
}

@media screen and (max-width: 826) {
    .aboutmewords {
        padding: 2px;
        margin: 2px;
        text-wrap: wrap;
    }
}